@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Honk&family=Marcellus&display=swap');

* {
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Archivo Black', sans-serif, 'Marcellus', serif;
}

.titulo {
    color: #e7110a;
}

.apresentacao {
    margin: 10% 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__inico {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__inicio__titulo {
    font-size: 36px;
    margin-bottom: 10px;
}

.apresentacao_inicio__paragrafo {
    font-size: 24px;
}

.apresentacao__link {
    display: flex;
    justify-content: space-between;
}

.apresentacao__botoes {
    background-color: #e7110a;
    width: 280px;
    top: 681px;
    left: 692px;
    border-radius: 16px;
    padding: 16px;
    gap: 16px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #000;
    font-family: 'Marcellus', serif;
}
