@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Honk&family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:wght@200&display=swap" rel="stylesheet');

:root {
        --cor--primaria:#040D12;
        --cor--secundaria:#93B1A6;
        --cor--tercearia:#5C8374;

        --font-primaria:'Marcellus', serif, 'Archivo Black', sans-serif;
        --font-secundaria:'Nunito', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

/* Estilos do Corpo e da Página */
body {
    background-color: var(--cor--primaria);
    color: var(--cor--secundaria);
    font-family: var(--font-primaria);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.cabecalho__menu__link{
    padding: 0%;
    color:var(--cor--tercearia);
    font-family: var(--font-secundaria);
    font-size: 1.15rem;
    font-weight: 600;
    text-decoration: none;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

a.cabecalho__menu__link:hover {
    background-color:var(--cor--secundaria);
    font-size: 1.735rem;

}

main.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 82px;
}

/* Estilos da Seção de Apresentação */
section.apresentacao_inicio {
    padding: 3% 10%;
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1.apresentacao_inicio__titulo {
    font-size: 2.25rem;
    margin-bottom: 15px;
}

p.apresentacao_inicio__paragrafo {
    font-size: 1.735rem;
    margin-bottom: 15px;
}

div.apresentacao__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }

.apresentacao__titulo__links{
    font-family:var(--font-secundaria);
    font-weight: 400;
    font-size: 1.735rem;

}

/* Estilos dos Botões */
a.apresentacao__botoes {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px; 
    text-align: center;
    font-weight: 800;
    font-size: 1.375rem;
    color:var(--cor--tercearia);
    font-family: var(--font-secundaria);
    text-decoration: none;
    border: 2px solid var(--cor--tercearia);
}

a.apresentacao__botoes:hover {
    background-color: var(--cor--secundaria);
}

.apresentacao__foco{
    width: 50%;
}
 .rodape {
    padding: 1px;
    color: var(--cor--primaria);
    background-color: var(--cor--tercearia);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.75rem;
    font-weight: 800;
 }

/* Estilos do Título Especial */
strong.titulo {
    color: var(--cor--tercearia);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao_inicio {
        width: 100%;
        margin: 0%;
    }
}

