@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Honk&family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:wght@200&display=swap" rel="stylesheet');
* {
    margin: 0;
    padding: 0;
}

/* Estilos do Corpo e da Página */
body {
    background-color: black;
    color: white;
    font-family: 'Marcellus', serif, 'Archivo Black', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.cabecalho__menu__link{
    padding: 0%;
    color:#e7110a;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

a.cabecalho__menu__link:hover {
    background-color: #ffff;
}

main.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px; 
}

/* Estilos da Seção de Apresentação */
section.apresentacao_inicio {
   padding: 3% 10%;
    max-width: 615px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1.apresentacao_inicio__titulo {
    font-size: 36px;
    margin-bottom: 15px;
}

p.apresentacao_inicio__paragrafo {
    font-size: 22px;
    margin-bottom: 15px;
}

div.apresentacao__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }

.apresentacao__titulo__links{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 22px;

}

/* Estilos dos Botões */
a.apresentacao__botoes {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 260px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px; 
    text-align: center;
    font-weight: 800;
    font-size: 22px;
    color: #e7110a;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    border: 2px solid #e7110a;
}

a.apresentacao__botoes:hover {
    background-color: #ffff;
}
 .rodape {
    padding: 1px;
    color: #070707;
    background-color: #e7110a;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: 800;
 }

/* Estilos do Título Especial */
strong.titulo {
    color: #e7110a;
}

